/* REUSABLE */

hr{
				margin: 65px 0;
}
.section-title{
				font-size: 30px;
				font-weight: bold;
				text-align: left;
				font-family: 'Poppins', sans-serif;
}
/* SIDEBAR */
.under-title{
				font-size: 14px;
				padding: 0;
				margin: -11px 0 50px;
				font-family: 'Poppins', sans-serif;
}

/* PORTFOLIO */
#portfolio h4{
				margin-left: 5px;
}
.container{
				display: grid;
				grid-template-columns: 50% 50%;
}
.container img{
				width: 365px;
				margin: 5px;
				border-radius: 12px;
}
/* ABOUT US */
.about-grid-1st{
				display: grid;
				grid-template-columns: 1fr 1fr;
				margin: 0;
}
.about-grid-1st img{
				width: 400px;
				margin-bottom: 0px;
}
.about-grid-1st p{
				font-size: 19px;
				text-align: right;
				margin-top: 50px;
}
.about-grid-2st img{
					width: 400px;
					margin-right: -108px;
					margin-bottom: 65px;
				 right: 0;
	}
.about-grid-2st p{
				font-size: 19px;
				text-align: left;
				margin-top: 90px;
}
.about-grid-2st{
				display: grid;
				grid-template-columns: 1fr 1fr;
				margin: 0;
}
.abouthr{
				margin: 0;
				margin-bottom: 65px;
}

/*  */
.sliding{
				transition: 2s;
}
.sliding:hover{
				width: 97%;
}

form input{
				text-align: center;
				outline: none;
}
.button-submit{
				width: 100%;
				text-align: center;
}
.button-submit button{
				width: 50%;
				border-radius: 10px;
				transition: 0.2s;
}
ul{
				list-style: none;
}
.item-title{
				color: #3a3a3a;
}
.faq{
				width: 100%;
}
.fa-question-circle{
				font-size: 16px;
				padding-left: 1px;
}
dl{
				width: 100%;
				margin: 0 15px 100px 15px;
}
dt {
				background-color: #fff;
				padding: 20px;
				color: #3a3a3a;
				font-weight: bold;
				margin-top: 20px;
				border-radius: 3px 3px 0 0;
				cursor: pointer;
}

dd {
				padding: 10px 20px;
				background-color: #EEEFED;
				border-radius: 0 0 3px 3px;
				color: #3a3a3a;
				margin: 0;
}

dt a,
dt a:hover {
				color: #323232;
}